body {margin: 0;padding: 0;}

/* logo */
.kRlpsI{margin: 11px 0 10px 24px;}/*!sc*/
.gQDlaK {
    text-align: left;
}

/* hide version  */
h1 span {
  display: none;
}

/* search */
.wfptf,
.bzckyT,
.eQaxld,
.dteJDQ
.search-input,
.eLSrIr,
.dwkgVY
{font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;}

.search-input{
  font-weight: normal;
}

.dteJDQ {
  max-height: 500px !important;
  padding: 5px 0px 8px 0px !important;
  border-bottom: 2px solid rgb(225, 225, 225) !important;
  margin-bottom: 20px !important;
  background-color: transparent !important;
}

.dteJDQ::before {
  content: "Search results: ";
  font-weight: bold;
  padding-left: 8px;
  font-size: 0.9em;
}

/* sidebar */
.gFuFKv {width: 300px;}
.fflgmh {padding: 6px 20px;font-size:14px;}
.imtPVL {padding: 6px 20px !important;font-size: 0.95em;}
.hXkyPY {line-height: 1.3em; !important}
.hIIBnc > li > label > span {font-size: 14px !important;line-height: 1.3em !important;}

.bQgPnO {
  width: 9ex;
  display: inline-block;
  height: 19px;
  line-height: 19px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: 6px 4px;
  font-size: 11px;
  margin-right: 6px;
  margin-top: 2px;
}

.fMGaMX,
.cbMzQY,
.ebVNuM,
.sc-kOHTFB,
.IVbWU,
.sc-bpUBKd,
.bpycMf,
.bpycMf,
.sc-eyvILC,
.fbjDYy,
.sc-eHEENL,
.fCKvxf,
.-depth1,
.active,
.jSTdPd
{line-height: 1.3em !important;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px !important;}

.-depth2{font-size: 14px;}

/* property name */
.property-name {
  font-family: Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;
  font-size: 14px;
}

/* property description  */
.gSsNFi,
.bGFHdb {font-size: 14px !important;}

/* response headers  */
.kXqjkR,
.iakUBL {font-size: 14px !important;}

/* code buttons  */
.jKcRvt > button,
.gqCEQu > button{border: 1px solid cornflowerblue !important; background-color:cornflowerblue !important;border-radius:5px;margin:0 5px;color:inherit;padding:4px 10px;font-family:Roboto,sans-serif;font-size:13px;line-height:1.5em;cursor:pointer;outline:0;}/*!sc*/

.heQAwu > ul{list-style:none;padding:0;margin: 0 -5px -5px 0;}/*!sc*/
.heQAwu > ul > li{padding:5px 10px;display:inline-block;background-color:#11171a;border-bottom:1px solid rgba(0,0,0,0.5);cursor:pointer;text-align:center;outline:none;color:#ccc;margin: 0 1px;border:1px solid #07090b;border-radius:5px;min-width:60px;font-size:0.9em;font-weight:bold;}/*!sc*/
.heQAwu > ul > li.react-tabs__tab--selected{color:#333333;background:lightsteelblue;}/*!sc*/

/* hide headers in code  */
.kBZUOG,
.eJDRKz {display: none;}

/* example selector  */
.cSSrHx > .kBZUOG {display: block;}

.iuJvlK {top: -22px;}

/* unmodified example selector code */
.klPqHk{position:absolute;pointer-events:none;z-index:1;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);right:8px;margin:auto;text-align:center;}/*!sc*/
.klPqHk polyline{color:white;}/*!sc*/
data-styled.g38[id="sc-iktFSN"]{content:"klPqHk,"}/*!sc*/

.dlsoSv{box-sizing:border-box;min-width:100px;outline:none;display:inline-block;border-radius:2px;border:1px solid rgba(38, 50, 56, 0.5);vertical-align:bottom;padding:2px 0px 2px 6px;position:relative;width:auto;background:white;color:#263238;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:0.929em;line-height:1.5em;cursor:pointer;transition:border 0.25s ease,color 0.25s ease,box-shadow 0.25s ease;}/*!sc*/
.dlsoSv label{box-sizing:border-box;min-width:100px;outline:none;display:inline-block;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;color:#333333;vertical-align:bottom;width:auto;text-transform:none;padding:0 22px 0 4px;font-size:0.929em;line-height:1.5em;font-family:inherit;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}/*!sc*/
.dlsoSv .dropdown-select{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;border:none;appearance:none;cursor:pointer;color:#333333;line-height:inherit;font-family:inherit;}/*!sc*/
.dlsoSv:hover,.dlsoSv:focus-within{border:1px solid #32329f;color:#32329f;box-shadow:0px 0px 0px 1px #32329f;}/*!sc*/
data-styled.g39[id="sc-jJEJze"]{content:"dlsoSv,"}/*!sc*/

.jsBNpl{margin:0 0 10px 0;display:block;background-color:rgba(38,50,56,0.4);border:none;padding:0.9em 1.6em 0.9em 0.9em;box-shadow:none;}/*!sc*/
.jsBNpl label{color:#ffffff;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;font-size:1em;text-transform:none;border:none;}/*!sc*/
.jsBNpl:hover,.jsBNpl:focus-within{border:none;box-shadow:none;background-color:rgba(38,50,56,0.7);}/*!sc*/
data-styled.g54[id="sc-AzfvX"]{content:"jsBNpl,"}/*!sc*/

/* get request samples  */
.fzwHpM {
  font-family: Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;
  font-size: 13px;
  overflow-x: auto;
  margin: 0;
  white-space: pre;
}
