{
	"presets": [
		"next/babel"
	],
	"plugins": [
		[
			"styled-components",
			{
				"ssr": true
			}
		],
		[
			"prismjs",
			{
				"languages": [
					"javascript",
					"typescript",
					"css",
					"markup",
					"bash"
				],
				"plugins": [
					"line-numbers"
				],
				// "theme": "okaidia",
				// "theme": "gruvbox",
				"css": true
			}
		]
	]
}