{
  "root": true,
  "extends": ["next/core-web-vitals"],
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  },
  "plugins": ["import", "sort-exports"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "curly": "error",
    "sort-exports/sort-exports": ["error", {"sortDir": "asc"}],
    "react/no-unknown-property": "warn"
  }
}
