:root {
  --docsearch-searchbox--bg: #f6f6f6;
  --docsearch-text-color: black;
  --docsearch-searchbox-focus-background: #fff;
  --docsearch-searchbox-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 2px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --docsearch-text-color: black;
  --docsearch-modal-background: var(--docs-content-bg);
  --docsearch-hit-background: #e7e7e7;
  --docsearch-hit-color: #000000;
}

:root.dark {
  --docsearch-searchbox--bg: #1a1a1a;
  --docsearch-text-color: white;
  --docsearch-searchbox-focus-background: #1a1a1a;
  --docsearch-searchbox-shadow: rgb(116, 116, 116) 0px 0px 0px 0px,
    rgb(112, 112, 112) 0px 0px 0px 0px, rgb(255, 255, 255) 0px 0px 0px,
    rgb(80, 80, 80) 0px 0px 0px 2px, rgb(75, 75, 75) 0px 0px 0px 0px,
    rgb(114, 114, 114) 0px 0px 0px 0px, rgb(136, 136, 136) 0px 0px 0px 0px;
  --docsearch-searchbox-focus-background: #000;
  --docsearch-modal-background: var(--docs-content-bg);
  --docsearch-hit-background: #262626;
  --docsearch-hit-color: #cbcbcb;
}

/* Useful... */
/* @media (prefers-color-scheme: light) {
  :root {
    --docsearch-searchbox--bg: #1a1a1a;
    --docsearch-text-color: white;
    --docsearch-searchbox-focus-background: #1a1a1a;
    --docsearch-searchbox-shadow: rgb(116, 116, 116) 0px 0px 0px 0px,
      rgb(112, 112, 112) 0px 0px 0px 0px, rgb(255, 255, 255) 0px 0px 0px,
      rgb(80, 80, 80) 0px 0px 0px 2px, rgb(75, 75, 75) 0px 0px 0px 0px,
      rgb(114, 114, 114) 0px 0px 0px 0px, rgb(136, 136, 136) 0px 0px 0px 0px;
    --docsearch-searchbox-focus-background: #000;
  }
} */

.DocSearch-Container,
.DocSearch-Container * {
  box-sizing: border-box;
}

.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
  color: var(--docsearch-text-color);
}

.DocSearch-Button {
  align-items: center;
  background: var(--docsearch-searchbox--bg);
  border: 0;
  border-radius: 6px;
  color: var(--docsearch-muted-color);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 36px;
  justify-content: space-between;
  margin: 0;
  padding: 0 8px;
  user-select: none;
  width: inherit;
}

.DocSearch-Button-Container {
  align-items: center;
  display: flex;
}

.DocSearch-Button-Keys {
  display: none;
}

.DocSearch-Container {
  background-color: var(--docsearch-container-background);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 200;
}

.DocSearch-Modal {
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 350px;
  border-radius: 0;
  background: var(--docsearch-modal-background);
  box-shadow: var(--docsearch-modal-shadow);
  flex-direction: column;
  position: relative;
}

.DocSearch-SearchBar {
  padding: 12px;
  display: flex;
}

.DocSearch-Dropdown {
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
  max-height: 100%;
  min-height: var(--docsearch-spacing);
  overflow-y: auto;
  padding: 0 var(--docsearch-spacing);
  scrollbar-color: var(--docsearch-muted-color)
    var(--docsearch-modal-background);
  scrollbar-width: thin;
}

.DocSearch-Footer {
  --docsearch-footer-background: var(--docsearch-searchbox-focus-background);
  background: var(--docsearch-footer-background);
  flex-direction: column-reverse;
  align-items: flex-start;
  height: auto;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: var(--docsearch-spacing);
  position: relative;
  user-select: none;
  width: 100%;
  z-index: 300;
  gap: 12px;
  box-shadow: inset 0px 1px var(--hr-grey1);
  padding: var(--docsearch-spacing);
}

.DocSearch-Hits:last-of-type {
  margin-bottom: 24px;
}

.DocSearch-Hit-source {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 13px;
  color: var(--docsearch-text-color);
  font-weight: 700;
  margin: 0px;
  background: var(--docsearch-modal-background);
  line-height: 32px;
  padding: 8px 4px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.DocSearch-Dropdown {
  scrollbar-color: var(--scrollbar-bg) var(--scrollbar-bg);
}

.DocSearch-Dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.DocSearch-Hit-Container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: var(--docsearch-hit-height);
  padding: 0 var(--docsearch-spacing) 0 0;
}

.DocSearch-Hit {
  border-radius: 4px;
  display: flex;
  padding-bottom: 4px;
  position: relative;
}

.DocSearch-Hit[aria-selected='true'] a {
  background-color: var(--docsearch-highlight-color);
}

.DocSearch-Hit a {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 1.25rem;
  display: block;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
}

@media screen and (max-width: 750px) {
  .DocSearch-Button {
    height: 31px;
  }

  .DocSearch-Button-Container {
    --size: 32px;
    width: var(--size);
    height: var(--size);
  }

  .DocSearch-Button-Placeholder {
    display: initial;
  }
}

@media screen and (max-width: 500px) {
  .DocSearch-Button-Container {
    --size: 16px;
  }
}

.DocSearch-Form {
  height: 100%;
  padding: 6px;
}

#docsearch-input {
  font-size: 16px;
}

#docsearch-label > svg:nth-child(1) {
  width: 16px;
  height: 16px;
}

.DocSearch-NoResults {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--docsearch-text-color);
  gap: 12px;
}
