html,
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Ubuntu';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: background-color 200ms linear, color 200ms linear;
}

* {
  margin: 0;
  scroll-margin-top: calc(var(--header-height) + 8px);
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#dark-theme {
  display: var(--dark-theme-display) !important;
}

#light-theme {
  display: var(--light-theme-display) !important;
}

.transform-rotate-180 {
  transform: rotate(180deg);
}

img,
video {
  height: auto;
}
