delete:
  summary: Delete Environment
  description: Deletes an environment.
  parameters:
    - in: path
      name: environment_id
      description: >
        The environment's system-defined ID.


        Retrieve a list of environments and their system-defined IDs through the
        [Get All Environments
        operation](#tag/environments/operation/getAccountsV01Environments).
      required: true
      schema:
        type: string
  security:
    - accountsScope:
        - app.accounts
  responses:
    '204':
      description: OK
      content:
        application/json:
          schema:
            $ref: ../components/schemas/Accounts_V1_Entities_Environment.yaml
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_UserError.yaml
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '429':
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
  tags:
    - environments
  operationId: deleteAccountsV01EnvironmentsEnvironmentId
patch:
  summary: Update Environment
  description: Updates an environment.
  parameters:
    - in: path
      name: environment_id
      description: >
        The environment's system-defined ID.


        Retrieve a list of environments and their system-defined IDs through the
        [Get All Environments
        operation](#tag/environments/operation/getAccountsV01Environments).
      required: true
      schema:
        type: string
  requestBody:
    content:
      application/json:
        schema:
          $ref: ../components/schemas/patchAccountsV01EnvironmentsEnvironmentId.yaml
    required: true
  security:
    - accountsScope:
        - app.accounts
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            $ref: ../components/schemas/Accounts_V1_Entities_Environment.yaml
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_UserError.yaml
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '429':
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
  tags:
    - environments
  operationId: patchAccountsV01EnvironmentsEnvironmentId
get:
  summary: Get Environment
  description: |
    Retrieves an environment's settings and metadata.
  parameters:
    - in: path
      name: environment_id
      description: >
        The environment's system-defined ID.


        Retrieve a list of environments and their system-defined IDs through the
        [Get All Environments
        operation](#tag/environments/operation/getAccountsV01Environments).
      required: true
      schema:
        type: string
  security:
    - accountsScope:
        - app.accounts
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            $ref: ../components/schemas/Accounts_V1_Entities_Environment.yaml
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_UserError.yaml
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '429':
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: ../components/schemas/BaseApi_Entities_GeneralError.yaml
  tags:
    - environments
  operationId: getAccountsV01EnvironmentsEnvironmentId
