required:
  - '@id'
  - '@type'
  - id
type: object
properties:
  '@type':
    type: string
    description: The resource's type.
  '@id':
    type: string
    description: The resource's relative path.
  '@links':
    type: object
    properties: {}
    description: Links to related resources.
  id:
    type: string
    description: Resource unique identifier.
  property_id:
    type: string
    description: Property ID
  name:
    type: string
    description: The environment's name.
  can_members_deploy:
    type: boolean
    description: >-
      Determines whether all organization members may deploy to this
      environment. Disabling this option restricts deployments to admin users
      and the deploy token.
  http_request_logging:
    type: boolean
    description: >-
      Determines whether deep-request inspection for serverless logs will be
      enabled.
  default_domain_name:
    type: string
    description: The default hostname through which traffic for this environment is served.
  dns_domain_name:
    type: string
    description: Serve traffic for this environment by pointing your CNAMEs to this domain.
  created_at:
    type: string
    description: The environment's creation date and time (UTC).
    format: date-time
  updated_at:
    type: string
    description: The environment's last modification date and time (UTC).
    format: date-time
description: Accounts_V1_Entities_Environment model
