required:
  - '@id'
  - '@type'
type: object
properties:
  '@type':
    type: string
    description: Resource type.
  '@id':
    type: string
    description: >-
      Used to specify the URI for the resource. Can be used by clients to
      navigate back to that specific resource.
  '@links':
    $ref: ./BaseApi_Entities_HyperionNavigationLinks.yaml
  total_items:
    type: integer
    description: Total number of items.
    format: int32
  items:
    $ref: ./Accounts_V1_Entities_Environment.yaml
description: Accounts_V1_Entities_Environment_Collection model
