type: object
properties:
  '@type':
    type: string
    description: The resource's type.
  '@id':
    type: string
    description: The resource's relative path.
  '@links':
    type: object
    description: Links to related resources.
  id:
    type: string
    description: The resource's system-defined ID.
  property_id:
    type: string
    description: The system-defined ID for the property associated with this environment.
  legacy_account_number:
    type: string
    description: >-
      The system-defined account number for this environment. Use this account
      number when requesting legacy APIs. This account number is unavailable
      immediately after an environment is created. If it is missing, try
      retrieving the environment again.
  name:
    type: string
    description: The environment's name.
  can_members_deploy:
    type: boolean
    description: >-
      DEPRECATED: this will be removed. Use only_maintainers_can_deploy field
      instead
  only_maintainers_can_deploy:
    type: boolean
    description: >-
      Determines whether all organization editors may deploy to this
      environment. Enabling this option restricts deployments to maintainer
      users and the deploy token.
  http_request_logging:
    type: boolean
    description: >-
      Determines whether deep-request inspection for serverless logs will be
      enabled.
  default_domain_name:
    type: string
    description: The default hostname through which traffic for this environment is served.
  pci_compliance:
    type: boolean
    description: >-
      Determines whether this environment's traffic will be restricted to our
      PCI-compliant network or served through our entire network.
  dns_domain_name:
    type: string
    description: Serve traffic for this environment by pointing your CNAMEs to this domain.
  created_at:
    type: string
    format: date-time
    description: The environment's creation date and time (UTC).
  updated_at:
    type: string
    format: date-time
    description: The environment's last modification date and time (UTC).
required:
  - '@type'
  - '@id'
  - id
description: Accounts_V1_Entities_Environment model
