openapi: 3.0.1
info:
  title: Edgio REST API
  version: 0.1.0
  x-logo:
    url: 'https://docs.edg.io/_next/static/media/edgio-dark.ea0d686f.webp'
    backgroundColor: '#FFFFFF'
    altText: 'Logo'
    href: 'https://docs.edg.io'
  description:
    $ref: description.md
tags:
  - name: tls-certs
    x-displayName: TLS Certificates
    description: Automate TLS certificate management.
  - name: deployments
    x-displayName: Deployment Info
    description: Retrieve information and log data for a previous deployment.
  - name: configs
    x-displayName: CDN Configuration
    description: Deploy or retrieve a CDN configuration.
  - name: environment-variables
    x-displayName: Environment Variables
    description: Automate environment variable management.
  - name: purge-requests
    x-displayName: Purge
    description: Purge cached content and retrieve information about previously submitted purge requests.
  - name: environments
    x-displayName: Environments
    description: |

      Automate environment management.

      You may also [manage environment variables](#tag/environment-variables) through our REST API.

  - name: properties
    x-displayName: Properties
    description: Automate property management.
  - name: organizations
    x-displayName: Organizations
    description: Automate organization management.
  - name: Security Applications (Scopes)
    x-displayName: Security Apps
    description: |

      A Security App:

      -   Identifies the set of traffic to which it applies by hostname, a URL path, or both.

      -   Defines how threats will be detected through access rules, API security ruleset, rate rules, bot manager configuration, custom ruleset, and managed rules.

      -   Audit new access rules, API Security rules, custom rules, and managed rules.

      -   Defines the production and audit enforcement action that will be applied to the requests identified as threats by access rules, API security ruleset, rate rules, custom ruleset, and managed rules.

      <a href="https://docs.edg.io/guides/security/security_applications" target="_blank">Learn more about Security Apps.</a>
  - name: Access Control List (ACL)
    x-displayName: Access Rules
    description: | 
    
      An access rule identifies legitimate traffic and threats through access controls.
      
      <a href="https://docs.edg.io/guides/security/access_rules" target="_blank">Learn more about access rules.</a>
  - name: Custom Rules
    x-displayName: Custom Rules
    description: | 
    
      A custom rule tailors how Edgio Security identifies a threat.
      
      <a href="https://docs.edg.io/guides/security/custom_rules" target="_blank">Learn more about custom rules.</a>
    
  - name: Rate Rules (Limits)
    x-displayName: Rate Rules 
    description: | 

      A rate rule restricts the flow of site traffic.

      <a href="https://docs.edg.io/guides/security/rate_rules" target="_blank">Learn more about rate rules.</a>

  - name: Managed Rules (Profiles)
    x-displayName: Managed Rules (Profiles)
    description: | 
    
      A managed rule identifies threats through predefined security policies. You may fine-tune these security policies to prevent false positives. 

      
      <a href="https://docs.edg.io/guides/security/managed_rules" target="_blank">Learn more about managed rules.</a>

  - name: Edgio Rulesets
    x-displayName: Edgio Rulesets
    description: | 

      An Edgio ruleset contains a set of managed security policies that identifies threats and provides generic protection against a variety of unknown vulnerabilities. Edgio rulesets are versioned. A new version is released whenever an Edgio ruleset is updated.

  - name: Bot Rules
    x-displayName: Bot Ruleset
    description: |
    
      A bot ruleset contains one or more rule(s) for determining how bots will be identified. 
            
      <a href="https://docs.edg.io/guides/security/bot_rules#bot-manager-configuration" target="_blank">Learn more about bot rulesets.</a>

  - name: Bot Managers
    x-displayName: Bot Manager Configuration
    description: |
    
      A bot manager configuration:

        -   Identifies a bot ruleset.
        
        -   The enforcement action that will be applied to traffic identified as a bot.
        
        -   Determines whether known bots will be automatically detected and the enforcement action that will be applied to that traffic.
        
        -   Traffic that will be exempt from bot detection.
      
      <a href="https://docs.edg.io/guides/security/bot_rules" target="_blank">Learn more about bot manager.</a>

  - name: Known Bots
    x-displayName: Known Bots
    description: Lists all known bots.

  - name: API Gateways
    x-displayName: API Security Ruleset
    description: |
    
      An API Security ruleset contains one or more API Security rule(s). Each of these rules identifies an API schema and the conditions under which it will be enforced.
      
      By default, Edgio validates all `POST`, `PUT`, and `PATCH` requests that satisfy your security app’s hostname and URL path requirements. If your website uses those HTTP methods for non-API requests, then it is strongly recommended to define one or more URL path(s) within your API Security rule.
      
      <a href="https://docs.edg.io/guides/security/api_security#api-security-rule" target="_blank">Learn more about API Security rules.</a>
      
  - name: API Schemas
    x-displayName: API Schemas
    description: |
   
      An API schema is a JSON schema that describes the structure for a valid API payload.
      
      <a href="https://docs.edg.io/guides/security/api_security#json-schema-syntax" target="_blank">Learn more about supported JSON schema syntax.</a>
  - name: RTLD Access Logs Profile
    description: Automate RTLD Access Logs profile management.
  - name: Log Fields
    description: Retrieve log fields associated with a Real-Time Log Delivery (RTLD) module.
  - name: AWS Regions
    description: Retrieve the available set of AWS regions.
paths:
  /config/v0.1/tls-certs/{cert_id}:
    $ref: paths/config_v0.1_tls-certs_{cert_id}.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - configScope: [app.config]
  /config/v0.1/tls-certs:
    $ref: paths/config_v0.1_tls-certs.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - configScope: [app.config]
  /config/v0.1/deployments/{deployment_id}/logs:
    $ref: paths/config_v0.1_deployments_{deployment_id}_logs.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - configScope: [app.config]
  /config/v0.1/deployments/{deployment_id}:
    $ref: paths/config_v0.1_deployments_{deployment_id}.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - configScope: [app.config]
  /config/v0.1/configs/{config_id}:
    $ref: paths/config_v0.1_configs_{config_id}.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - configScope: [app.config]
  /config/v0.1/configs:
    $ref: paths/config_v0.1_configs.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - configScope: [app.config]
  /config/v0.1/environment-variables/{environment_variable_id}:
    $ref: paths/config_v0.1_environment-variables_{environment_variable_id}.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - configScope: [app.config]
  /config/v0.1/environment-variables:
    $ref: paths/config_v0.1_environment-variables.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - configScope: [app.config]
  /cache/v0.1/purge-requests/{request_id}:
    $ref: paths/cache_v0.1_purge-requests_{request_id}.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - oAuthCacheScope: [app.cache]
  /cache/v0.1/purge-requests:
    $ref: paths/cache_v0.1_purge-requests.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - configScope: [app.config]
  /accounts/v0.1/environments/{environment_id}:
    $ref: paths/accounts_v0.1_environments_{environment_id}.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - accountsScope: [app.accounts]
  /accounts/v0.1/environments:
    $ref: paths/accounts_v0.1_environments.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - accountsScope: [app.accounts]
  /accounts/v0.1/properties/{property_id}:
    $ref: paths/accounts_v0.1_properties_{property_id}.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - accountsScope: [app.accounts]
  /accounts/v0.1/properties:
    $ref: paths/accounts_v0.1_properties.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - accountsScope: [app.accounts]
  /accounts/v0.1/organizations/{organization_id}:
    $ref: paths/accounts_v0.1_organizations_{organization_id}.yaml
    servers:
      - url: 'https://edgioapis.com'
    security:
      - accountsScope: [app.accounts]
  '/{organization_id}/scopes':
    $ref: 'paths/{organization_id}@scopes.yaml'
    servers:
      - url: 'https://edgioapis.com/waf/v0.9'
    security:
      - wafScope: [app.waf]
#  '/{organization_id}/scopes/{scope_id}/versions':
#    $ref: 'paths/{organization_id}@scopes@{scope_id}@versions.yaml'
#    servers:
#      - url: 'https://edgioapis.com/waf/v0.9'
#    security:
#      - wafScope: [app.waf]
#  '/{organization_id}/scopes/{scope_id}/versions/{version_id}':
#    $ref: 'paths/{organization_id}@scopes@{scope_id}@versions@{version_id}.yaml'
#    servers:
#      - url: 'https://edgioapis.com/waf/v0.9'
#    security:
#      - wafScope: [app.waf]
  '/{organization_id}/acls':
    $ref: 'paths/{organization_id}@acls.yaml'
    servers:
      - url: 'https://edgioapis.com/waf/v0.9'
    security:
      - wafScope: [app.waf]
  '/{organization_id}/acls/{acl_id}':
    $ref: 'paths/{organization_id}@acls@{acl_id}.yaml'
    servers:
      - url: 'https://edgioapis.com/waf/v0.9'
    security:
      - wafScope: [app.waf]
#  '/{organization_id}/acl/{acl_id}/versions':
#    $ref: 'paths/{organization_id}@acl@{acl_id}@versions.yaml'
#    servers:
#      - url: 'https://edgioapis.com/waf/v0.9'
#    security:
#      - wafScope: [app.waf]
#  '/{organization_id}/acl/{acl_id}/versions/{version_id}':
#    $ref: 'paths/{organization_id}@acl@{acl_id}@versions@{version_id}.yaml'
#    servers:
#      - url: 'https://edgioapis.com/waf/v0.9'
#    security:
#      - wafScope: [app.waf]
  '/{organization_id}/rules':
    $ref: 'paths/{organization_id}@rules.yaml'
    servers:
      - url: 'https://edgioapis.com/waf/v0.9'
    security:
      - wafScope: [app.waf]
  '/{organization_id}/rules/{rule_id}':
    $ref: 'paths/{organization_id}@rules@{rule_id}.yaml'
    servers:
      - url: 'https://edgioapis.com/waf/v0.9'
    security:
      - wafScope: [app.waf]
#  '/{organization_id}/rules/{rule_id}/versions':
#    $ref: 'paths/{organization_id}@rules@{rule_id}@versions.yaml'
#    servers:
#      - url: 'https://edgioapis.com/waf/v0.9'
#    security:
#      - wafScope: [app.waf]
#  '/{organization_id}/rules/{rule_id}/versions/{version_id}':
#    $ref: 'paths/{organization_id}@rules@{rule_id}@versions@{version_id}.yaml'
#    servers:
#      - url: 'https://edgioapis.com/waf/v0.9'
#    security:
#      - wafScope: [app.waf]
  '/{organization_id}/limits':
    $ref: 'paths/{organization_id}@limits.yaml'
    servers:
      - url: 'https://edgioapis.com/waf/v0.9'
    security:
      - wafScope: [app.waf]
  '/{organization_id}/limits/{limit_id}':
    $ref: 'paths/{organization_id}@limits@{limit_id}.yaml'
    servers:
      - url: 'https://edgioapis.com/waf/v0.9'
    security:
      - wafScope: [app.waf]
#  '/{organization_id}/limits/{limit_id}/versions':
#    $ref: 'paths/{organization_id}@limits@{limit_id}@versions.yaml'
#    servers:
#      - url: 'https://edgioapis.com/waf/v0.9'
#    security:
#      - wafScope: [app.waf]
#  '/{organization_id}/limits/{limit_id}/versions/{version_id}':
#    $ref: 'paths/{organization_id}@limits@{limit_id}@versions@{version_id}.yaml'
#    servers:
#      - url: 'https://edgioapis.com/waf/v0.9'
#    security:
#      - wafScope: [app.waf]
  '/{organization_id}/profiles':
    $ref: 'paths/{organization_id}@profiles.yaml'
    servers:
      - url: 'https://edgioapis.com/waf/v0.9'
    security:
      - wafScope: [app.waf]
  '/{organization_id}/profiles/{profile_id}':
    $ref: 'paths/{organization_id}@profiles@{profile_id}.yaml'
    servers:
      - url: 'https://edgioapis.com/waf/v0.9'
    security:
      - wafScope: [app.waf]
#  '/{organization_id}/profiles/{profile_id}/versions':
#    $ref: 'paths/{organization_id}@profiles@{profile_id}@versions.yaml'
#    servers:
#      - url: 'https://edgioapis.com/waf/v0.9'
#    security:
#      - wafScope: [app.waf]
#  '/{organization_id}/profiles/{profile_id}/versions/{version_id}':
#    $ref: 'paths/{organization_id}@profiles@{profile_id}@versions@{version_id}.yaml'
#    servers:
#      - url: 'https://edgioapis.com/waf/v0.9'
#    security:
#      - wafScope: [app.waf]
  '/rulesets':
    $ref: 'paths/rulesets.yaml'
    servers:
      - url: 'https://edgioapis.com/waf/v0.9'
    security:
      - wafScope: [app.waf]
  '/rulesets/{ruleset_id}':
    $ref: 'paths/rulesets@{ruleset_id}.yaml'
    servers:
      - url: 'https://edgioapis.com/waf/v0.9'
    security:
      - wafScope: [app.waf]
#  '/rulesets/{ruleset_id}/version/{version_id}':
#    $ref: 'paths/rulesets@{ruleset_id}@version@{version_id}.yaml'
#    servers:
#      - url: 'https://edgioapis.com/waf/v0.9'
#    security:
#      - wafScope: [app.waf]
    
  '/{organization_id}/api-gateways':
    $ref: 'paths/{organization_id}@api-gateways.yaml'
    servers:
      - url: 'https://edgioapis.com/api-security/v0.9'
    security:
      - api_securityScope: [app.api_security]
  '/{organization_id}/api-gateways/{api_gateway_id}':
    $ref: 'paths/{organization_id}@api-gateways@{api_gateway_id}.yaml'
    servers:
      - url: 'https://edgioapis.com/api-security/v0.9'
    security:
      - api_securityScope: [app.api_security]
  '/{organization_id}/api-gateways/{api_gateway_id}/schemas':
    $ref: 'paths/{organization_id}@api-gateways@{api_gateway_id}@schemas.yaml'
    servers:
      - url: 'https://edgioapis.com/api-security/v0.9'
    security:
      - api_securityScope: [app.api_security]
#  '/{organization_id}/api-gateways/{api_gateway_id}/versions':
#    $ref: 'paths/{organization_id}@api-gateways@{api_gateway_id}@versions.yaml'
#    servers:
#      - url: 'https://edgioapis.com/api-security/v0.9'
#    security:
#      - api_securityScope: [app.api_security]
#  '/{organization_id}/api-gateways/{api_gateway_id}/versions/{version_id}':
#    $ref: 'paths/{organization_id}@api-gateways@{api_gateway_id}@versions@{version_id}.yaml'
#    servers:
#      - url: 'https://edgioapis.com/api-security/v0.9'
#    security:
#      - api_securityScope: [app.api_security]
  '/{organization_id}/api-schemas':
    $ref: 'paths/{organization_id}@api-schemas.yaml'
    servers:
      - url: 'https://edgioapis.com/api-security/v0.9'
    security:
      - api_securityScope: [app.api_security]
  '/{organization_id}/api-schemas/{api_schema_id}':
    $ref: 'paths/{organization_id}@api-schemas@{api_schema_id}.yaml'
    servers:
      - url: 'https://edgioapis.com/api-security/v0.9'
    security:
      - api_securityScope: [app.api_security]
#  '/{organization_id}/api-schemas/{api_schema_id}/versions':
#    $ref: 'paths/{organization_id}@api-schemas@{api_schema_id}@versions.yaml'
#    servers:
#      - url: 'https://edgioapis.com/api-security/v0.9'
#    security:
#      - api_securityScope: [app.api_security]
#  '/{organization_id}/api-schemas/{api_schema_id}/versions/{version_id}':
#    $ref: 'paths/{organization_id}@api-schemas@{api_schema_id}@versions@{version_id}.yaml'
#    servers:
#      - url: 'https://edgioapis.com/api-security/v0.9'
#    security:
#      - api_securityScope: [app.api_security]
  '/{organization_id}/bots':
    $ref: 'paths/{organization_id}@bots.yaml'
    servers:
      - url: 'https://edgioapis.com/bot-security/v0.9'
    security:
      - bot_securityScope: [app.bot_security]
  '/{organization_id}/bots/{bot_id}':
    $ref: 'paths/{organization_id}@bots@{bot_id}.yaml'
    servers:
      - url: 'https://edgioapis.com/bot-security/v0.9'
    security:
      - bot_securityScope: [app.bot_security]
#  '/{organization_id}/bots/{bot_id}/versions':
#    $ref: 'paths/{organization_id}@bots@{bot_id}@versions.yaml'
#    servers:
#      - url: 'https://edgioapis.com/bot-security/v0.9'
#    security:
#      - bot_securityScope: [app.bot_security]
#  '/{organization_id}/bots/{bot_id}/versions/{version_id}':
#    $ref: 'paths/{organization_id}@bots@{bot_id}@versions@{version_id}.yaml'
#    servers:
#      - url: 'https://edgioapis.com/bot-security/v0.9'
#    security:
#      - bot_securityScope: [app.bot_security]
  '/{organization_id}/bot-managers':
    $ref: 'paths/{organization_id}@bot-managers.yaml'
    servers:
      - url: 'https://edgioapis.com/bot-security/v0.9'
    security:
      - bot_securityScope: [app.bot_security]
  '/{organization_id}/bot-managers/{bot_manager_id}':
    $ref: 'paths/{organization_id}@bot-managers@{bot_manager_id}.yaml'
    servers:
      - url: 'https://edgioapis.com/bot-security/v0.9'
    security:
      - bot_securityScope: [app.bot_security]
#  '/{organization_id}/bot-managers/{bot_manager_id}/versions':
#    $ref: 'paths/{organization_id}@bot-managers@{bot_manager_id}@versions.yaml'
#    servers:
#      - url: 'https://edgioapis.com/bot-security/v0.9'
#    security:
#      - bot_securityScope: [app.bot_security]
#  '/{organization_id}/bot-manager/{bot_manager_id}/versions/{version_id}':
#    $ref: 'paths/{organization_id}@bot-manager@{bot_manager_id}@versions@{version_id}.yaml'
#    servers:
#      - url: 'https://edgioapis.com/bot-security/v0.9'
#    security:
#      - bot_securityScope: [app.bot_security]
  /known-bots/companies:
    $ref: paths/known-bots@companies.yaml
    servers:
      - url: 'https://edgioapis.com/bot-security/v0.9'
    security:
      - securityScope: {}
  /cdn/profiles:
    $ref: paths/cdn_profiles.yaml
    servers:
      - url: 'https://edgioapis.com/rtld/v1'
  /cdn/profiles/{id}:
    $ref: paths/cdn_profiles_{id}.yaml
    servers:
      - url: 'https://edgioapis.com/rtld/v1'
  /cdn/fields:
    $ref: paths/cdn_fields.yaml
    servers:
      - url: 'https://edgioapis.com/rtld/v1'
  /aws-regions:
    $ref: paths/aws-regions.yaml
    servers:
      - url: 'https://edgioapis.com/rtld/v1'
components:
  securitySchemes:
    cacheScope:
      type: oauth2
      description: Learn how to [generate and pass a token.](#section/Access-Tokens)
      flows:
        clientCredentials:
          tokenUrl: https://id.edgio.app/connect/token
          scopes:
            app.cache: Authorizes full access for purging cached content and retrieve purge status information.
    configScope:
      type: oauth2
      description: Learn how to [generate and pass a token.](#section/Access-Tokens)
      flows:
        clientCredentials:
          tokenUrl: https://id.edgio.app/connect/token
          scopes:
            app.config: Authorizes full access for deploying CDN configurations, retrieving deployment information and log data, and managing environment variables.
    accountsScope:
      type: oauth2
      description: Learn how to [generate and pass a token.](#section/Access-Tokens)
      flows:
        clientCredentials:
          tokenUrl: https://id.edgio.app/connect/token
          scopes:
            app.accounts: Authorizes full access to manage organizations, properties, and environments.
    wafScope:
      type: oauth2
      description: Learn how to [generate and pass a token.](#section/Access-Tokens)
      flows:
        clientCredentials:
          tokenUrl: https://id.edgio.app/connect/token
          scopes:
            app.waf: Authorizes full access to security apps, access rules, rate rules, custom rules, and managed rules.
    api_securityScope:
      type: oauth2
      description: Learn how to [generate and pass a token.](#section/Access-Tokens)
      flows:
        clientCredentials:
          tokenUrl: https://id.edgio.app/connect/token
          scopes:
            app.api_security: Authorizes full access to API Security.
    bot_securityScope:
      type: oauth2
      description: Learn how to [generate and pass a token.](#section/Access-Tokens)
      flows:
        clientCredentials:
          tokenUrl: https://id.edgio.app/connect/token
          scopes:
            app.bot_security: Authorizes full access to Bot Manager.
    rtldScope:
      type: oauth2
      description: Learn how to [generate and pass a token.](#section/Access-Tokens)
      flows:
        clientCredentials:
          tokenUrl: https://id.edgio.app/connect/token
          scopes:
            app.rtld: Authorizes full access to Real-Time Log Delivery.
x-tagGroups:
  - name: Cache
    tags:
      - purge-requests
  - name: Deployments
    tags:
      - configs
      - environment-variables
      - deployments      
  - name: TLS Certificates
    tags:
      - tls-certs
  - name: WAF (Security)
    tags:
      - Access Control List (ACL)
      - API Gateways
      - API Schemas
      - Rate Rules (Limits)
      - Bot Managers
      - Bot Rules
      - Known Bots
      - Custom Rules
      - Managed Rules (Profiles)
      - Edgio Rulesets
      - Security Applications (Scopes)
  - name: Organizations
    tags:
      - organizations
  - name: Properties
    tags:
      - properties
      - environments
  - name: Real-Time Log Delivery
    tags:
      - RTLD Access Logs Profile
      - Log Fields
      - AWS Regions
