openapi: 3.0.1
info:
  title: Edgio Edgio APIs
  description: API spec for Edgio APIs
  termsOfService: https://edg.io/legal/terms-of-service/
  contact:
    name: info@edg.io
    url: https://edg.io/contact-support/
    email: info@edg.io
  version: 1.0.0-beta
servers:
  - url: //localhost:3000/api
tags:
  - name: environment-variables
    description: Operations about environment-variables
  - name: tls-certs
    description: Operations about tls-certs
  - name: deployments
    description: Operations about deployments
  - name: configs
    description: Operations about configs
  - name: purge requests
    description: Operations about purge requests
  - name: members
    description: Operations about members
  - name: environments
    description: Operations about environments
  - name: properties
    description: Operations about properties
  - name: organizations
    description: Operations about organizations
  - name: bff
    description: Operations about bffs
paths:
  /config/v0.1/environment-variables/{environment_variable_id}:
    $ref: paths/config_v0.1_environment-variables_{environment_variable_id}.yaml
  /config/v0.1/environment-variables:
    $ref: paths/config_v0.1_environment-variables.yaml
  /config/v0.1/tls-certs/{cert_id}:
    $ref: paths/config_v0.1_tls-certs_{cert_id}.yaml
  /config/v0.1/tls-certs:
    $ref: paths/config_v0.1_tls-certs.yaml
  /config/v0.1/deployments/{deployment_id}/logs:
    $ref: paths/config_v0.1_deployments_{deployment_id}_logs.yaml
  /config/v0.1/deployments/{deployment_id}:
    $ref: paths/config_v0.1_deployments_{deployment_id}.yaml
  /config/v0.1/configs/{config_id}:
    $ref: paths/config_v0.1_configs_{config_id}.yaml
  /config/v0.1/configs:
    $ref: paths/config_v0.1_configs.yaml
  /cache/v0.1/purge-requests/{request_id}:
    $ref: paths/cache_v0.1_purge-requests_{request_id}.yaml
  /cache/v0.1/purge-requests:
    $ref: paths/cache_v0.1_purge-requests.yaml
  /accounts/v0.1/members/{member_id}:
    $ref: paths/accounts_v0.1_members_{member_id}.yaml
  /accounts/v0.1/members:
    $ref: paths/accounts_v0.1_members.yaml
  /accounts/v0.1/environments/{environment_id}:
    $ref: paths/accounts_v0.1_environments_{environment_id}.yaml
  /accounts/v0.1/environments:
    $ref: paths/accounts_v0.1_environments.yaml
  /accounts/v0.1/properties/{property_id}:
    $ref: paths/accounts_v0.1_properties_{property_id}.yaml
  /accounts/v0.1/properties:
    $ref: paths/accounts_v0.1_properties.yaml
  /accounts/v0.1/organizations/{organization_id}:
    $ref: paths/accounts_v0.1_organizations_{organization_id}.yaml
  /bff/ids/teams/{team_id}/feature-scopes:
    $ref: paths/bff_ids_teams_{team_id}_feature-scopes.yaml
  /bff/ids/teams/{team_id}/clients/{client_id}/secrets/{secret_id}:
    $ref: paths/bff_ids_teams_{team_id}_clients_{client_id}_secrets_{secret_id}.yaml
  /bff/ids/teams/{team_id}/clients/{client_id}/secrets:
    $ref: paths/bff_ids_teams_{team_id}_clients_{client_id}_secrets.yaml
  /bff/ids/teams/{team_id}/clients/{client_id}:
    $ref: paths/bff_ids_teams_{team_id}_clients_{client_id}.yaml
  /bff/ids/teams/{team_id}/clients:
    $ref: paths/bff_ids_teams_{team_id}_clients.yaml
  /bff/traffic/{query_name}:
    $ref: paths/bff_traffic_{query_name}.yaml
components:
  securitySchemes:
    configScope:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://swagger.io/api/oauth/dialog
          scopes:
            app.config: app.config
    cacheScope:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://swagger.io/api/oauth/dialog
          scopes:
            app.cache.purge: app.cache.purge
    accountsScope:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://swagger.io/api/oauth/dialog
          scopes:
            app.accounts: app.accounts
