name: Update POPs and Datasets Sections

on:
  schedule:
    # Run every Friday at 10 am PST (6 pm UTC)
    - cron: '0 18 * * 5'
  workflow_dispatch:

jobs:
  generate-docs-by-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: main  # Ensure you are checking out the main branch

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Install dependencies
          pip install requests

      - name: Run pops script
        env:
          EC_TOKEN: ${{ secrets.EC_TOKEN }}
        run: python ./scripts/pop-list.py

      - name: Run datasets script
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        run: python ./rest_api/scripts/datasets.py

      - name: Configure Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Create and switch to a new branch
        run: |
          git checkout -b update-from-script

      - name: Commit changes
        run: |
          git add -A
          git commit -m "Update data from the pops and datasets script"

      - name: Push changes to new branch
        run: |
          git push --set-upstream origin update-from-script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout the repository for PR creation
        uses: actions/checkout@v2

      - name: Create PR
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: main
          source_branch: update-from-script
          pr_title: '[BOT] Update POPs and Datasets Script'