{"openapi":"3.0.1","info":{"title":"Edgio Edgio APIs","description":"API spec for Edgio APIs","termsOfService":"https://edg.io/legal/terms-of-service/","contact":{"name":"info@edg.io","url":"https://edg.io/contact-support/","email":"info@edg.io"},"version":"1.0.0-beta"},"servers":[{"url":"//edgioapis.com/"}],"security":[{"Bearer":[]}],"tags":[{"name":"environment-variables","description":"Operations about environment-variables"},{"name":"tls-certs","description":"Operations about tls-certs"},{"name":"deployments","description":"Operations about deployments"},{"name":"configs","description":"Operations about configs"},{"name":"purge requests","description":"Operations about purge requests"},{"name":"members","description":"Operations about members"},{"name":"environments","description":"Operations about environments"},{"name":"properties","description":"Operations about properties"},{"name":"organizations","description":"Operations about organizations"},{"name":"bff","description":"Operations about bffs"}],"paths":{"/config/v0.1/environment-variables/{environment_variable_id}":{"get":{"tags":["environment-variables"],"summary":"Read environment variable","description":"Read environment variable","operationId":"getConfigV01EnvironmentVariablesEnvironmentVariableId","parameters":[{"name":"environment_variable_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Read environment variable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Config_V1_Entities_EnvironmentVariable"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"delete":{"tags":["environment-variables"],"summary":"Delete environment variable","description":"Delete environment variable","operationId":"deleteConfigV01EnvironmentVariablesEnvironmentVariableId","parameters":[{"name":"environment_variable_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Delete environment variable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Config_V1_Entities_EnvironmentVariable"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}}},"/config/v0.1/environment-variables":{"get":{"tags":["environment-variables"],"summary":"List environment variables","description":"List environment variables","operationId":"getConfigV01EnvironmentVariables","parameters":[{"name":"page","in":"query","description":"Page number starting from 0","schema":{"type":"integer","format":"int32","default":0}},{"name":"page_size","in":"query","description":"Number of results per page. Accepted value from 1-100. Default: 20","schema":{"type":"integer","format":"int32","default":20}},{"name":"key","in":"query","description":"Find environment variable by their key","schema":{"type":"string"}},{"name":"environment_id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List environment variables","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Config_V1_Entities_EnvironmentVariable_Collection"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"put":{"tags":["environment-variables"],"summary":"Create or replace environment variable","description":"Create or replace environment variable","operationId":"putConfigV01EnvironmentVariables","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/putConfigV01EnvironmentVariables"}}},"required":true},"responses":{"200":{"description":"Create or replace environment variable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Config_V1_Entities_EnvironmentVariable"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"putConfigV01EnvironmentVariables"}},"/config/v0.1/tls-certs/{cert_id}":{"get":{"tags":["tls-certs"],"summary":"Read tls cert","description":"Read tls cert","operationId":"getConfigV01TlsCertsCertId","parameters":[{"name":"cert_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Read tls cert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Config_V1_Entities_TlsCert"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}}},"/config/v0.1/tls-certs":{"get":{"tags":["tls-certs"],"summary":"List tls certs","description":"List historical TLS certificates for an environment","operationId":"getConfigV01TlsCerts","parameters":[{"name":"page","in":"query","description":"Page number starting from 0","schema":{"type":"integer","format":"int32","default":0}},{"name":"page_size","in":"query","description":"Number of results per page. Accepted value from 1-100. Default: 20","schema":{"type":"integer","format":"int32","default":20}},{"name":"environment_id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List historical TLS certificates for an environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Config_V1_Entities_TlsCert_Collection"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"post":{"tags":["tls-certs"],"summary":"Create a new tls cert","description":"Upload and activate a new TLS certificate for an environment","operationId":"postConfigV01TlsCerts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/postConfigV01TlsCerts"}}},"required":true},"responses":{"201":{"description":"Upload and activate a new TLS certificate for an environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Config_V1_Entities_TlsCert"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"postConfigV01TlsCerts"}},"/config/v0.1/deployments/{deployment_id}/logs":{"get":{"tags":["deployments"],"summary":"Get the logs for a specific deployment","description":"Get the logs for a specific deployment","operationId":"getConfigV01DeploymentsDeploymentIdLogs","parameters":[{"name":"deployment_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Get the logs for a specific deployment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Config_V1_Entities_Deployment_Logs"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}}},"/config/v0.1/deployments/{deployment_id}":{"get":{"tags":["deployments"],"summary":"Read deployment","description":"Read deployment","operationId":"getConfigV01DeploymentsDeploymentId","parameters":[{"name":"deployment_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Read deployment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Config_V1_Entities_Deployment"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}}},"/config/v0.1/configs/{config_id}":{"get":{"tags":["configs"],"summary":"Retrieve an Edge Configuration","description":"Get a specific Edge Configuration","operationId":"getConfigV01ConfigsConfigId","parameters":[{"name":"config_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Get a specific Edge Configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Config_V1_Entities_Config"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}}},"/config/v0.1/configs":{"post":{"tags":["configs"],"summary":"Deploy Edge Configuration on environment","description":"Replace and deploy a complete edge configuration for the given environment","operationId":"postConfigV01Configs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/postConfigV01Configs"}}},"required":true},"responses":{"202":{"description":"Replace and deploy a complete edge configuration for the given environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Config_V1_Entities_Config"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"postConfigV01Configs"}},"/cache/v0.1/purge-requests/{request_id}":{"get":{"tags":["purge requests"],"summary":"Get Status of Cache Purge","description":"Request status of cache purge","operationId":"getCacheV01PurgeRequestsRequestId","parameters":[{"name":"request_id","in":"path","description":"The ID identifying the original purge request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request status of cache purge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cache_V1_Entities_PurgeRequest"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}}},"/cache/v0.1/purge-requests":{"post":{"tags":["purge requests"],"summary":"Purge Cache of Environment","description":"Request cache purge of environment","operationId":"postCacheV01PurgeRequests","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/postCacheV01PurgeRequests"}}},"required":true},"responses":{"202":{"description":"Request cache purge of environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cache_V1_Entities_PurgeRequest"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"429":{"description":"RateLimitReached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"postCacheV01PurgeRequests"}},"/accounts/v0.1/members/{member_id}":{"get":{"tags":["members"],"summary":"Read member","description":"Read member","operationId":"getAccountsV01MembersMemberId","parameters":[{"name":"member_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Read member","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Member"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"delete":{"tags":["members"],"summary":"Delete member","description":"Delete member","operationId":"deleteAccountsV01MembersMemberId","parameters":[{"name":"member_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Delete member","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Member"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"patch":{"tags":["members"],"summary":"Update member","description":"Update member","operationId":"patchAccountsV01MembersMemberId","parameters":[{"name":"member_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/patchAccountsV01MembersMemberId"}}},"required":true},"responses":{"200":{"description":"Update member","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Member"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"patchAccountsV01MembersMemberId"}},"/accounts/v0.1/members":{"get":{"tags":["members"],"summary":"List members","description":"List members","operationId":"getAccountsV01Members","parameters":[{"name":"page","in":"query","description":"Page number starting from 0","schema":{"type":"integer","format":"int32","default":0}},{"name":"page_size","in":"query","description":"Number of results per page. Accepted value from 1-100. Default: 20","schema":{"type":"integer","format":"int32","default":20}},{"name":"organization_id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List members","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Member_Collection"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"post":{"tags":["members"],"summary":"Create a new member","description":"Create a new member","operationId":"postAccountsV01Members","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/postAccountsV01Members"}}},"required":true},"responses":{"201":{"description":"Create a new member","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Member"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"postAccountsV01Members"}},"/accounts/v0.1/environments/{environment_id}":{"get":{"tags":["environments"],"summary":"Read environment","description":"Read environment","operationId":"getAccountsV01EnvironmentsEnvironmentId","parameters":[{"name":"environment_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Read environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Environment"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"delete":{"tags":["environments"],"summary":"Delete environment","description":"Delete environment","operationId":"deleteAccountsV01EnvironmentsEnvironmentId","parameters":[{"name":"environment_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Delete environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Environment"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"patch":{"tags":["environments"],"summary":"Update environment","description":"Update environment","operationId":"patchAccountsV01EnvironmentsEnvironmentId","parameters":[{"name":"environment_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/patchAccountsV01EnvironmentsEnvironmentId"}}},"required":true},"responses":{"200":{"description":"Update environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Environment"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"patchAccountsV01EnvironmentsEnvironmentId"}},"/accounts/v0.1/environments":{"get":{"tags":["environments"],"summary":"List environments","description":"List environments","operationId":"getAccountsV01Environments","parameters":[{"name":"page","in":"query","description":"Page number starting from 0","schema":{"type":"integer","format":"int32","default":0}},{"name":"page_size","in":"query","description":"Number of results per page. Accepted value from 1-100. Default: 20","schema":{"type":"integer","format":"int32","default":20}},{"name":"property_id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List environments","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Environment_Collection"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"post":{"tags":["environments"],"summary":"Create a new environment","description":"Create a new environment","operationId":"postAccountsV01Environments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/postAccountsV01Environments"}}},"required":true},"responses":{"201":{"description":"Create a new environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Environment"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"postAccountsV01Environments"}},"/accounts/v0.1/properties/{property_id}":{"get":{"tags":["properties"],"summary":"Read property","description":"Read property","operationId":"getAccountsV01PropertiesPropertyId","parameters":[{"name":"property_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Read property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Property"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"delete":{"tags":["properties"],"summary":"Delete property","description":"Delete property","operationId":"deleteAccountsV01PropertiesPropertyId","parameters":[{"name":"property_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Delete property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Property"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"patch":{"tags":["properties"],"summary":"Update property","description":"Update property","operationId":"patchAccountsV01PropertiesPropertyId","parameters":[{"name":"property_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/patchAccountsV01PropertiesPropertyId"}}},"required":true},"responses":{"200":{"description":"Update property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Property"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"patchAccountsV01PropertiesPropertyId"}},"/accounts/v0.1/properties":{"get":{"tags":["properties"],"summary":"List properties","description":"List properties","operationId":"getAccountsV01Properties","parameters":[{"name":"page","in":"query","description":"Page number starting from 0","schema":{"type":"integer","format":"int32","default":0}},{"name":"page_size","in":"query","description":"Number of results per page. Accepted value from 1-100. Default: 20","schema":{"type":"integer","format":"int32","default":20}},{"name":"organization_id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Property_Collection"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"post":{"tags":["properties"],"summary":"Create a new property","description":"Create a new property","operationId":"postAccountsV01Properties","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/postAccountsV01Properties"}}},"required":true},"responses":{"201":{"description":"Create a new property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Property"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"postAccountsV01Properties"}},"/accounts/v0.1/organizations/{organization_id}":{"get":{"tags":["organizations"],"summary":"Read organization","description":"Read organization","operationId":"getAccountsV01OrganizationsOrganizationId","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Read organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Organization"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"delete":{"tags":["organizations"],"summary":"Delete organization","description":"Delete organization","operationId":"deleteAccountsV01OrganizationsOrganizationId","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Delete organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Organization"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"patch":{"tags":["organizations"],"summary":"Update organization","description":"Update organization","operationId":"patchAccountsV01OrganizationsOrganizationId","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/patchAccountsV01OrganizationsOrganizationId"}}},"required":true},"responses":{"200":{"description":"Update organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Organization"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"patchAccountsV01OrganizationsOrganizationId"}},"/accounts/v0.1/organizations":{"get":{"tags":["organizations"],"summary":"List organizations","description":"List organizations","operationId":"getAccountsV01Organizations","parameters":[{"name":"page","in":"query","description":"Page number starting from 0","schema":{"type":"integer","format":"int32","default":0}},{"name":"page_size","in":"query","description":"Number of results per page. Accepted value from 1-100. Default: 20","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"List organizations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Organization_Collection"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}}},"post":{"tags":["organizations"],"summary":"Create a new organization","description":"Create a new organization","operationId":"postAccountsV01Organizations","parameters":[{"name":"partner_id","in":"query","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/postAccountsV01Organizations"}}},"required":true},"responses":{"201":{"description":"Create a new organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts_V1_Entities_Organization"}}}},"400":{"description":"UserError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_UserError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"404":{"description":"RecordNotFound","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}},"500":{"description":"ServerError","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseApi_Entities_GeneralError"}}}}},"x-codegen-request-body-name":"postAccountsV01Organizations"}},"/bff/ids/teams/{team_id}/feature-scopes":{"get":{"tags":["bff"],"operationId":"getBffIdsTeamsTeamIdFeatureScopes","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"get FeatureScope(s)","content":{}}}}},"/bff/ids/teams/{team_id}/clients/{client_id}/secrets/{secret_id}":{"delete":{"tags":["bff"],"operationId":"deleteBffIdsTeamsTeamIdClientsClientIdSecretsSecretId","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"client_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"secret_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"deleted Secret","content":{}}}}},"/bff/ids/teams/{team_id}/clients/{client_id}/secrets":{"get":{"tags":["bff"],"operationId":"getBffIdsTeamsTeamIdClientsClientIdSecrets","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"client_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"get Secret(s)","content":{}}}},"post":{"tags":["bff"],"operationId":"postBffIdsTeamsTeamIdClientsClientIdSecrets","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"client_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"created Secret","content":{}}}}},"/bff/ids/teams/{team_id}/clients/{client_id}":{"delete":{"tags":["bff"],"operationId":"deleteBffIdsTeamsTeamIdClientsClientId","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"client_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"deleted Client","content":{}}}},"patch":{"tags":["bff"],"operationId":"patchBffIdsTeamsTeamIdClientsClientId","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"client_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"patched Client","content":{}}}}},"/bff/ids/teams/{team_id}/clients":{"get":{"tags":["bff"],"operationId":"getBffIdsTeamsTeamIdClients","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"get Client(s)","content":{}}}},"post":{"tags":["bff"],"operationId":"postBffIdsTeamsTeamIdClients","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"created Client","content":{}}}}},"/bff/traffic/{query_name}":{"post":{"tags":["bff"],"operationId":"postBffTrafficQueryName","parameters":[{"name":"query_name","in":"path","required":true,"schema":{"type":"string","enum":["paths","origins-paths","origins-countries","origins-overtime"]}}],"responses":{"201":{"description":"created Traffic","content":{}}}}}},"components":{"schemas":{"Config_V1_Entities_EnvironmentVariable":{"required":["@id","@type","id"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"type":"object","properties":{},"description":"Links to related resources."},"id":{"type":"string","description":"Resource unique identifier."},"environment_id":{"type":"string","description":"Environment ID"},"key":{"type":"string","description":"Environment variable key"},"value":{"type":"string","description":"Environment variable value"},"secret":{"type":"boolean","description":"When true, the value cannot be read after being set"},"created_at":{"type":"string","description":"Created at","format":"date-time"},"updated_at":{"type":"string","description":"Updated at","format":"date-time"}},"description":"Config_V1_Entities_EnvironmentVariable model"},"BaseApi_Entities_UserError":{"type":"object","properties":{"message":{"type":"string","description":"Error Message"},"details":{"type":"array","items":{"$ref":"#/components/schemas/BaseApi_Entities_UserErrorData"}}},"description":"BaseApi_Entities_UserError model"},"BaseApi_Entities_UserErrorData":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}}},"BaseApi_Entities_GeneralError":{"type":"object","properties":{"message":{"type":"string","description":"Error Message"}},"description":"BaseApi_Entities_GeneralError model"},"putConfigV01EnvironmentVariables":{"required":["environment_id","key","value"],"type":"object","properties":{"environment_id":{"type":"string"},"key":{"type":"string"},"value":{"type":"string"},"secret":{"type":"boolean"}},"description":"Create or replace environment variable"},"Config_V1_Entities_EnvironmentVariable_Collection":{"required":["@id","@type"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"$ref":"#/components/schemas/BaseApi_Entities_HyperionNavigationLinks"},"total_items":{"type":"integer","description":"Total number of items.","format":"int32"},"items":{"type":"array","description":"Array of items.","items":{"$ref":"#/components/schemas/Config_V1_Entities_EnvironmentVariable"}}},"description":"Config_V1_Entities_EnvironmentVariable_Collection model"},"BaseApi_Entities_HyperionNavigationLinks":{"type":"object","properties":{"first":{"$ref":"#/components/schemas/BaseApi_Entities_HyperionLink"},"next":{"$ref":"#/components/schemas/BaseApi_Entities_HyperionLink"},"previous":{"$ref":"#/components/schemas/BaseApi_Entities_HyperionLink"},"last":{"$ref":"#/components/schemas/BaseApi_Entities_HyperionLink"}}},"BaseApi_Entities_HyperionLink":{"type":"object","properties":{"href":{"type":"string"},"description":{"type":"string"},"base_path":{"type":"string"}}},"Config_V1_Entities_TlsCert":{"required":["@id","@type","id"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"type":"object","properties":{},"description":"Links to related resources."},"id":{"type":"string","description":"Resource unique identifier."},"environment_id":{"type":"string","description":"Environment ID"},"primary_cert":{"type":"string","description":"Primary certificate. Not returned for records in collection."},"intermediate_cert":{"type":"string","description":"Intermediate certificate. Not returned for records in collection"},"expiration":{"type":"string","description":"Expiration date","format":"date-time"},"status":{"type":"string","description":"Status"},"generated":{"type":"boolean","description":"Generated"},"serial":{"type":"string","description":"Serial"},"common_name":{"type":"string","description":"Common name"},"alternative_names":{"type":"array","description":"Alternative names","items":{"type":"string"}},"activation_error":{"type":"string","description":"Activation error"},"created_at":{"type":"string","description":"Created at","format":"date-time"},"updated_at":{"type":"string","description":"Updated at","format":"date-time"}},"description":"Config_V1_Entities_TlsCert model"},"postConfigV01TlsCerts":{"required":["environment_id","intermediate_cert","primary_cert"],"type":"object","properties":{"environment_id":{"type":"string"},"primary_cert":{"type":"string"},"intermediate_cert":{"type":"string"},"private_key":{"type":"string"}},"description":"Upload and activate a new TLS certificate for an environment"},"Config_V1_Entities_TlsCert_Collection":{"required":["@id","@type"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"$ref":"#/components/schemas/BaseApi_Entities_HyperionNavigationLinks"},"total_items":{"type":"integer","description":"Total number of items.","format":"int32"},"items":{"type":"array","description":"Array of items.","items":{"$ref":"#/components/schemas/Config_V1_Entities_TlsCert"}}},"description":"Config_V1_Entities_TlsCert_Collection model"},"Config_V1_Entities_Deployment_Logs":{"required":["@id","@type"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"type":"object","properties":{},"description":"Links to related resources."},"logs":{"type":"array","description":"Array of logs","items":{"$ref":"#/components/schemas/Config_V1_Entities_Deployment_LogLine"}}},"description":"Config_V1_Entities_Deployment_Logs model"},"Config_V1_Entities_Deployment_LogLine":{"type":"object","properties":{"message":{"type":"string","description":"Log message"},"level":{"type":"string","description":"Log level"},"timestamp":{"type":"string","description":"Log timestamp","format":"date-time"}}},"Config_V1_Entities_Deployment":{"required":["@id","@type","id"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"type":"object","properties":{},"description":"Links to related resources."},"id":{"type":"string","description":"Resource unique identifier."},"status":{"type":"string","description":"Indicates the status for the deployment.\nValid values are:\n  - `created`: Initial state.\n  - `uploading`: Waiting for CLI to upload the build. Only applicable for EdgeJS deployments.\n  - `provisioning`: Waiting for the CDN to provision the environment.\n  - `deploying`: Deploying the build to cloud & edge.\n  - `waiting`: Waiting for the edge propagation to complete.\n  - `completed`: Indicates that the deployment has been completed.\n  - `canceled`: Indicates that the deployment has been canceled.\n  - `failed`: Indicates that the deployment has failed.\n"},"created_at":{"type":"string","description":"Indicates the date and time (UTC) at which the deployment was submitted.","format":"date-time"},"completed_at":{"type":"string","description":"Indicates the date and time (UTC) at which the deployment was completed.","format":"date-time"}},"description":"Config_V1_Entities_Deployment model"},"Config_V1_Entities_Config":{"required":["@id","@type","id"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"type":"object","properties":{},"description":"Links to related resources."},"id":{"type":"string","description":"Resource unique identifier."},"origins":{"type":"string","description":"List of origins for the configuration.","example":""},"hostnames":{"type":"string","description":"List of hostnames for the configuration.","example":""},"rules":{"type":"string","description":"List of rules for the configuration.","example":""},"experiments":{"type":"string","description":"List of experiments for the configuration.","example":""}},"description":"Config_V1_Entities_Config model"},"postConfigV01Configs":{"required":["environment_id","hostnames","origins"],"type":"object","properties":{"environment_id":{"type":"string"},"origins":{"type":"array","description":"List of origins for the configuration.","example":[{"name":"Edgio","hosts":[{"location":[{"hostname":"https://test-origin.edgio.net"}]}]}],"items":{"type":"string"}},"hostnames":{"type":"array","description":"List of hostnames for the configuration.","example":[{"hostname":"test-origin.edgio.net"}],"items":{"type":"string"}},"rules":{"type":"array","description":"List of rules for the configuration.","example":[{"if":[{"==":[{"request":"path"},"/api/:path"]},{"caching":{"bypass_cache":true}}]}],"items":{"type":"string"}},"experiments":{"type":"array","description":"List of experiments for the configuration.","example":[{}],"items":{"type":"string"}}},"description":"Replace and deploy a complete edge configuration for the given environment"},"Cache_V1_Entities_PurgeRequest":{"required":["@id","@type","id"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"type":"object","properties":{},"description":"Links to related resources."},"id":{"type":"string","description":"Identifies a purge request by its unique ID and allows further tracking"},"status":{"type":"string","description":"Indicates the status for the purge requests defined in the bulk purge request.\nValid values are:\n  - `in_progress`: Indicates that the purge request has not yet been completed.\n  - `done`: Indicates that the purge request has been completed.\n"},"created_at":{"type":"string","description":"Indicates the date and time (UTC) at which the purge request was submitted.","format":"date-time"},"completed_at":{"type":"string","description":"Indicates the date and time (UTC) at which the purge request was completed.","format":"date-time"},"progress_percentage":{"type":"number","description":"Identifies the percentage of purge request completion.","format":"float"}},"description":"Cache_V1_Entities_PurgeRequest model"},"postCacheV01PurgeRequests":{"required":["environment_id","purge_type"],"type":"object","properties":{"environment_id":{"type":"string","description":"The ID of the environment you wish to purge cache for, also known as environment tenant ID."},"purge_type":{"type":"string","description":"- `all_entries`: Purges all cache\n- `path`: Purges paths from cache further specified via `values`\n- `surrogate_key`: Purges surrogate keys specified via `values`\n","enum":["all_entries","path","surrogate_key"]},"values":{"type":"array","description":"Depending on `purge_type` this parameter is used to specify further options:\n  - Leave empty if `purge_type` is `all_entries`.\n  - If `purge_type` is `path`, `values` specifies all the paths subject to purging.\n  - If `purge_type` is `surrogate_key`, `values` specifies all the surrogate keys subject to purging.\n","items":{"type":"string"}}},"description":"Request cache purge of environment"},"Accounts_V1_Entities_Member":{"required":["@id","@type","id"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"type":"object","properties":{},"description":"Links to related resources."},"id":{"type":"string"},"role":{"type":"string","description":"Role name"},"created_at":{"type":"string","description":"Created at","format":"date-time"},"updated_at":{"type":"string","description":"Updated at","format":"date-time"},"user_email":{"type":"string","description":"Associated user's email"}},"description":"Accounts_V1_Entities_Member model"},"patchAccountsV01MembersMemberId":{"type":"object","properties":{"role":{"type":"string","enum":["read_only","purger","member","admin","super_admin"]}},"description":"Update member"},"postAccountsV01Members":{"required":["organization_id","user_email"],"type":"object","properties":{"user_email":{"type":"string"},"organization_id":{"type":"string"},"role":{"type":"string","enum":["read_only","purger","member","admin","super_admin"]}},"description":"Create a new member"},"Accounts_V1_Entities_Member_Collection":{"required":["@id","@type"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"$ref":"#/components/schemas/BaseApi_Entities_HyperionNavigationLinks"},"total_items":{"type":"integer","description":"Total number of items.","format":"int32"},"items":{"type":"array","description":"Array of items.","items":{"$ref":"#/components/schemas/Accounts_V1_Entities_Member"}}},"description":"Accounts_V1_Entities_Member_Collection model"},"Accounts_V1_Entities_Environment":{"required":["@id","@type","id"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"type":"object","properties":{},"description":"Links to related resources."},"id":{"type":"string","description":"Resource unique identifier."},"property_id":{"type":"string","description":"Property ID"},"name":{"type":"string","description":"Environment name"},"can_members_deploy":{"type":"boolean","description":"Allow non-admin members to deploy to this environment"},"http_request_logging":{"type":"boolean","description":"Enable deep-request inspection for serverless logs"},"default_domain_name":{"type":"string","description":"Default hostname where the CDN serves the traffic, in addition to custom hostnames"},"pci_compliance":{"type":"boolean","description":"When true the environment is setup for the PCI network footprint."},"dns_domain_name":{"type":"string","description":"Configure your hostname CNAMEs to point to this domain"},"created_at":{"type":"string","description":"Created at","format":"date-time"},"updated_at":{"type":"string","description":"Updated at","format":"date-time"}},"description":"Accounts_V1_Entities_Environment model"},"patchAccountsV01EnvironmentsEnvironmentId":{"type":"object","properties":{"name":{"type":"string"},"can_members_deploy":{"type":"boolean"},"http_request_logging":{"type":"boolean"}},"description":"Update environment"},"postAccountsV01Environments":{"required":["name","property_id"],"type":"object","properties":{"property_id":{"type":"string"},"name":{"type":"string"},"can_members_deploy":{"type":"boolean"},"http_request_logging":{"type":"boolean"}},"description":"Create a new environment"},"Accounts_V1_Entities_Environment_Collection":{"required":["@id","@type"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"$ref":"#/components/schemas/BaseApi_Entities_HyperionNavigationLinks"},"total_items":{"type":"integer","description":"Total number of items.","format":"int32"},"items":{"type":"array","description":"Array of items.","items":{"$ref":"#/components/schemas/Accounts_V1_Entities_Environment"}}},"description":"Accounts_V1_Entities_Environment_Collection model"},"Accounts_V1_Entities_Property":{"required":["@id","@type","id"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"type":"object","properties":{},"description":"Links to related resources."},"id":{"type":"string","description":"Resource unique identifier."},"organization_id":{"type":"string","description":"Organization ID"},"slug":{"type":"string","description":"Property slug"},"created_at":{"type":"string","description":"Created at","format":"date-time"},"updated_at":{"type":"string","description":"Updated at","format":"date-time"}},"description":"Accounts_V1_Entities_Property model"},"patchAccountsV01PropertiesPropertyId":{"type":"object","properties":{"slug":{"type":"string"}},"description":"Update property"},"postAccountsV01Properties":{"required":["organization_id","slug"],"type":"object","properties":{"slug":{"type":"string"},"organization_id":{"type":"string"}},"description":"Create a new property"},"Accounts_V1_Entities_Property_Collection":{"required":["@id","@type"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"$ref":"#/components/schemas/BaseApi_Entities_HyperionNavigationLinks"},"total_items":{"type":"integer","description":"Total number of items.","format":"int32"},"items":{"type":"array","description":"Array of items.","items":{"$ref":"#/components/schemas/Accounts_V1_Entities_Property"}}},"description":"Accounts_V1_Entities_Property_Collection model"},"Accounts_V1_Entities_Organization":{"required":["@id","@type","id"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"type":"object","properties":{},"description":"Links to related resources."},"id":{"type":"string","description":"Resource unique identifier."},"partner_id":{"type":"string","description":"Partner ID"},"name":{"type":"string","description":"Organization name"},"pci_compliance":{"type":"string","description":"The overall PCI compliance based on the PCI settings of all environments in scope of this organization","enum":["pci","non_pci","mixed"]},"pci_dns_domain_name":{"type":"string","description":"The PCI-compliant DNS domain for this organization. Configure your hostname CNAMEs to point to this domain for environments configured with PCI footprint enabled."},"non_pci_dns_domain_name":{"type":"string","description":"The non PCI-compliant DNS domain for this organization. Configure your hostname CNAMEs to point to this domain for environments configured with PCI footprint disabled."},"created_at":{"type":"string","description":"Created at","format":"date-time"},"updated_at":{"type":"string","description":"Updated at","format":"date-time"}},"description":"Accounts_V1_Entities_Organization model"},"patchAccountsV01OrganizationsOrganizationId":{"type":"object","properties":{"name":{"type":"string"}},"description":"Update organization"},"postAccountsV01Organizations":{"required":["name"],"type":"object","properties":{"name":{"type":"string"}},"description":"Create a new organization"},"Accounts_V1_Entities_Organization_Collection":{"required":["@id","@type"],"type":"object","properties":{"@type":{"type":"string","description":"Resource type."},"@id":{"type":"string","description":"Used to specify the URI for the resource. Can be used by clients to navigate back to that specific resource."},"@links":{"$ref":"#/components/schemas/BaseApi_Entities_HyperionNavigationLinks"},"total_items":{"type":"integer","description":"Total number of items.","format":"int32"},"items":{"type":"array","description":"Array of items.","items":{"$ref":"#/components/schemas/Accounts_V1_Entities_Organization"}}},"description":"Accounts_V1_Entities_Organization_Collection model"}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"Enter the JWT token with the `Bearer` prefix, e.g. `Bearer abcdef`.\nThe token will need the following scopes:\n\n","name":"Authorization","in":"header"}}}}