{
  "info": {
    "title": "Edgio Edgio APIs",
    "description": "API spec for Edgio APIs",
    "termsOfService": "https://edg.io/legal/terms-of-service/",
    "contact": {
      "name": "info@edg.io",
      "email": "info@edg.io",
      "url": "https://edg.io/contact-support/"
    },
    "version": "1.0.0-beta"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "configScope": {
      "type": "oauth2",
      "authorizationUrl": "http://swagger.io/api/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "app.config": "app.config"
      }
    },
    "cacheScope": {
      "type": "oauth2",
      "authorizationUrl": "http://swagger.io/api/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "app.cache.purge": "app.cache.purge"
      }
    },
    "accountsScope": {
      "type": "oauth2",
      "authorizationUrl": "http://swagger.io/api/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "app.accounts": "app.accounts"
      }
    }
  },
  "host": "edgioapis.com",
  "basePath": "/",
  "tags": [
    {
      "name": "members",
      "description": "Operations about members"
    },
    {
      "name": "environments",
      "description": "Operations about environments"
    },
    {
      "name": "properties",
      "description": "Operations about properties"
    },
    {
      "name": "organizations",
      "description": "Operations about organizations"
    },
    {
      "name": "asm",
      "description": "Operations about asms"
    },
    {
      "name": "bff",
      "description": "Operations about bffs"
    },
    {
      "name": "purge-requests",
      "description": "Operations about purge-requests"
    },
    {
      "name": "environment-redirects",
      "description": "Operations about environment-redirects"
    },
    {
      "name": "environment-variables",
      "description": "Operations about environment-variables"
    },
    {
      "name": "tls-certs",
      "description": "Operations about tls-certs"
    },
    {
      "name": "deployments",
      "description": "Operations about deployments"
    },
    {
      "name": "configs",
      "description": "Operations about configs"
    }
  ],
  "paths": {
    "/accounts/v0.1/members/{member_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "member_id",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Member"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "members"
        ],
        "operationId": "deleteAccountsV01MembersMemberId"
      },
      "patch": {
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "member_id",
            "type": "string",
            "required": true
          },
          {
            "name": "patchAccountsV01MembersMemberId",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchAccountsV01MembersMemberId"
            }
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Member"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "members"
        ],
        "operationId": "patchAccountsV01MembersMemberId"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "member_id",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Member"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "members"
        ],
        "operationId": "getAccountsV01MembersMemberId"
      }
    },
    "/accounts/v0.1/members": {
      "post": {
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postAccountsV01Members",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postAccountsV01Members"
            }
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Member"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "members"
        ],
        "operationId": "postAccountsV01Members"
      },
      "get": {
        "summary": " members",
        "description": " members",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "0-based page number.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "Number of results per page. Valid values are: 1 - 100. **Default value:** 20",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "required": false
          },
          {
            "in": "query",
            "name": "organization_id",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Member_Collection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "members"
        ],
        "operationId": "getAccountsV01Members"
      }
    },
    "/accounts/v0.1/environments/{environment_id}": {
      "delete": {
        "summary": "Delete Environment",
        "description": "Deletes an environment.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environment_id",
            "description": "The environment's system-defined ID.\n\nRetrieve a list of environments and their system-defined IDs through the [Get All Environments operation](#tag/environments/operation/getAccountsV01Environments).\n",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Environment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "environments"
        ],
        "operationId": "deleteAccountsV01EnvironmentsEnvironmentId"
      },
      "patch": {
        "summary": "Update Environment",
        "description": "Updates an environment.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environment_id",
            "description": "The environment's system-defined ID.\n\nRetrieve a list of environments and their system-defined IDs through the [Get All Environments operation](#tag/environments/operation/getAccountsV01Environments).\n",
            "type": "string",
            "required": true
          },
          {
            "name": "patchAccountsV01EnvironmentsEnvironmentId",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchAccountsV01EnvironmentsEnvironmentId"
            }
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Environment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "environments"
        ],
        "operationId": "patchAccountsV01EnvironmentsEnvironmentId"
      },
      "get": {
        "summary": "Get Environment",
        "description": "Retrieves an environment's settings and metadata.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "environment_id",
            "description": "The environment's system-defined ID.\n\nRetrieve a list of environments and their system-defined IDs through the [Get All Environments operation](#tag/environments/operation/getAccountsV01Environments).\n",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Environment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "environments"
        ],
        "operationId": "getAccountsV01EnvironmentsEnvironmentId"
      }
    },
    "/accounts/v0.1/environments": {
      "post": {
        "summary": "Add Environment",
        "description": "Creates an environment.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postAccountsV01Environments",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postAccountsV01Environments"
            }
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Environment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "environments"
        ],
        "operationId": "postAccountsV01Environments"
      },
      "get": {
        "summary": "Get All Environments",
        "description": "Returns all environments that belong to the specified property.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "0-based page number.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "Number of results per page. Valid values are: 1 - 100. **Default value:** 20",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "required": false
          },
          {
            "in": "query",
            "name": "property_id",
            "description": "The property's system-defined ID.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Environment_Collection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "environments"
        ],
        "operationId": "getAccountsV01Environments"
      }
    },
    "/accounts/v0.1/properties/{property_id}": {
      "delete": {
        "summary": "Delete Property",
        "description": "Delete a property.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "property_id",
            "description": "The property's system-defined ID.\n\nRetrieve a list of properties and their system-defined IDs through the [Get All Properties operation](#tag/properties/operation/getAccountsV01Properties).\n",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Property"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "properties"
        ],
        "operationId": "deleteAccountsV01PropertiesPropertyId"
      },
      "patch": {
        "summary": "Update Property",
        "description": "Update a property.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "property_id",
            "description": "The property's system-defined ID.\n\nRetrieve a list of properties and their system-defined IDs through the [Get All Properties operation](#tag/properties/operation/getAccountsV01Properties).\n",
            "type": "string",
            "required": true
          },
          {
            "name": "patchAccountsV01PropertiesPropertyId",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchAccountsV01PropertiesPropertyId"
            }
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Property"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "properties"
        ],
        "operationId": "patchAccountsV01PropertiesPropertyId"
      },
      "get": {
        "summary": "Get Property",
        "description": "Retrieve a property.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "property_id",
            "description": "The property's system-defined ID.\n\nRetrieve a list of properties and their system-defined IDs through the [Get All Properties operation](#tag/properties/operation/getAccountsV01Properties).\n",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Property"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "properties"
        ],
        "operationId": "getAccountsV01PropertiesPropertyId"
      }
    },
    "/accounts/v0.1/properties": {
      "post": {
        "summary": "Create Property",
        "description": "Create a property.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postAccountsV01Properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postAccountsV01Properties"
            }
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Property"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "properties"
        ],
        "operationId": "postAccountsV01Properties"
      },
      "get": {
        "summary": "Get All Properties",
        "description": "Returns all properties.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "0-based page number.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "Number of results per page. Valid values are: 1 - 100. **Default value:** 20",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "required": false
          },
          {
            "in": "query",
            "name": "organization_id",
            "description": "An organization's system-defined ID (e.g., 12345678-1234-1234-1234-1234567890ab).\n\nFrom the Edgio Console, navigate to the desired organization and then click **Settings**. It is listed under **Organization ID**.\n",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Property_Collection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "properties"
        ],
        "operationId": "getAccountsV01Properties"
      }
    },
    "/accounts/v0.1/organizations/{organization_id}": {
      "delete": {
        "summary": "Delete Organization",
        "description": "Deletes an organization.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "description": "The organization's system-defined ID.\n\nFrom the Edgio Console, navigate to the desired organization and then click **Settings**. It is listed under **Organization ID**.\n",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Organization"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "organizations"
        ],
        "operationId": "deleteAccountsV01OrganizationsOrganizationId"
      },
      "patch": {
        "summary": "Update Organization",
        "description": "Updates an organization.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "description": "The organization's system-defined ID.\n\nFrom the Edgio Console, navigate to the desired organization and then click **Settings**. It is listed under **Organization ID**.\n",
            "type": "string",
            "required": true
          },
          {
            "name": "patchAccountsV01OrganizationsOrganizationId",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchAccountsV01OrganizationsOrganizationId"
            }
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Organization"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "organizations"
        ],
        "operationId": "patchAccountsV01OrganizationsOrganizationId"
      },
      "get": {
        "summary": "Get Organization",
        "description": "Retrieves information about an organization.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "description": "The organization's system-defined ID.\n\nFrom the Edgio Console, navigate to the desired organization and then click **Settings**. It is listed under **Organization ID**.\n",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "accountsScope": [
              "app.accounts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Accounts_V1_Entities_Organization"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UserError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_UnauthorizedError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ForbiddenError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_RecordNotFoundError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_TooManyRequestsError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/BaseApi_Entities_Error_ServerError"
            }
          }
        },
        "tags": [
          "organizations"
        ],
        "operationId": "getAccountsV01OrganizationsOrganizationId"
      }
    },
    "/asm/v0.1/proxies/filters": {
      "get": {
        "description": "Returns a list of filters that can be used to filter proxies.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of filters that can be used to filter proxies."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01ProxiesFilters"
      }
    },
    "/asm/v0.1/proxies/stats": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "get Stat(s)"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01ProxiesStats"
      }
    },
    "/asm/v0.1/proxies": {
      "get": {
        "description": "Returns a list of Proxies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "sort_field",
            "description": "The field to sort by",
            "type": "string",
            "default": "created_at",
            "enum": [
              "created_at",
              "name",
              "proxy"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort_direction",
            "description": "The direction to sort by",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "items",
            "description": "Number of items to return per page. Maximum value: 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of Proxies"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01Proxies"
      }
    },
    "/asm/v0.1/criterion-types": {
      "get": {
        "description": "Gets all criterion types with their associated operators.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Gets all criterion types with their associated operators."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01CriterionTypes"
      }
    },
    "/asm/v0.1/context": {
      "get": {
        "description": "Gets all available ASM permissions for the current user.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all available ASM permissions for the current user."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01Context"
      }
    },
    "/asm/v0.1/cwes/{id}": {
      "get": {
        "description": "Gets a CWE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a CWE"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01CwesId"
      }
    },
    "/asm/v0.1/cwes": {
      "get": {
        "description": "Gets all CWEs in our database",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sort_field",
            "description": "The field to sort by",
            "type": "string",
            "default": "created_at",
            "enum": [
              "created_at",
              "updated_at",
              "external_id"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort_direction",
            "description": "The direction to sort by",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all CWEs in our database"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01Cwes"
      }
    },
    "/asm/v0.1/cves/{id}": {
      "get": {
        "description": "Gets a CVE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a CVE"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01CvesId"
      }
    },
    "/asm/v0.1/cves/filters": {
      "get": {
        "description": "Returns a list of filters that can be used to filter assets.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of filters that can be used to filter assets."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01CvesFilters"
      }
    },
    "/asm/v0.1/cves": {
      "get": {
        "description": "Gets all CVEs in our database",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "sort_field",
            "description": "The field to sort by",
            "type": "string",
            "default": "created_at",
            "enum": [
              "created_at",
              "updated_at",
              "summary",
              "assets",
              "technologies",
              "external_id",
              "external_published_at",
              "external_modified_at",
              "severity",
              "impact",
              "exploitability",
              "first_seen",
              "last_seen",
              "exposures"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort_direction",
            "description": "The direction to sort by",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "items",
            "description": "Number of items to return per page. Maximum value: 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all CVEs in our database"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01Cves"
      }
    },
    "/asm/v0.1/cpe-matches/{id}": {
      "get": {
        "description": "Gets a CPE Match by ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a CPE Match by ID"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01CpeMatchesId"
      }
    },
    "/asm/v0.1/cpe-matches": {
      "get": {
        "description": "Gets all CPE Matches in our database",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cpe",
            "description": "Returns CPE Matches that match the given CPE",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort_field",
            "description": "The field to sort by",
            "type": "string",
            "default": "created_at",
            "enum": [
              "created_at",
              "updated_at",
              "part",
              "vendor",
              "product",
              "version",
              "version_major",
              "version_minor",
              "version_patch"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort_direction",
            "description": "The direction to sort by",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all CPE Matches in our database"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01CpeMatches"
      }
    },
    "/asm/v0.1/cpes/{id}": {
      "get": {
        "description": "Gets a CPE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a CPE"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01CpesId"
      }
    },
    "/asm/v0.1/cpes": {
      "get": {
        "description": "Gets all CPEs in our database",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cpe",
            "description": "The whole CPE name to search for",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "part",
            "description": "The part of the CPE",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "vendor",
            "description": "The vendor of the CPE",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "product",
            "description": "The product of the CPE",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "version",
            "description": "The version of the CPE",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "version_major",
            "description": "The major version of the CPE",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "version_minor",
            "description": "The minor version of the CPE",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "version_patch",
            "description": "The patch version of the CPE",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort_field",
            "description": "The field to sort by",
            "type": "string",
            "default": "created_at",
            "enum": [
              "created_at",
              "updated_at",
              "part",
              "vendor",
              "product",
              "version",
              "version_major",
              "version_minor",
              "version_patch"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort_direction",
            "description": "The direction to sort by",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all CPEs in our database"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01Cpes"
      }
    },
    "/asm/v0.1/rules/{id}": {
      "patch": {
        "description": "Updates a rule.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "collection_filter_type",
            "description": "The type of collection filter",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "match_all",
            "description": "Whether all criteria must match",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "enabled",
            "description": "Whether the rule is enabled",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "action_type",
            "description": "The action to take on rule match",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "severity_action_type",
            "description": "The severity action to take on rule match",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "exposure_severity",
            "description": "The severity of the exposure",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "exposure_summary",
            "description": "A summary of the exposure",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "rule_description",
            "description": "A description of the rule",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "collections",
            "description": "The collections to apply the rule to",
            "type": "array",
            "items": {
              "type": "object"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "rule_criteria",
            "description": "The rule criteria to apply the rule to",
            "type": "array",
            "items": {
              "type": "object"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "asset_filter_type",
            "description": "The type of asset filter",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "asset_criteria",
            "description": "The asset criteria to apply the rule to",
            "type": "array",
            "items": {
              "type": "object"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "priority",
            "description": "The priority of the rule",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "exit_on_match",
            "description": "Whether rule processing will exit upon match",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "assigned_to_id",
            "description": "The ID of the user the rule is assigned to",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a rule."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "patchAsmV01RulesId"
      },
      "delete": {
        "description": "Deletes a rule.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a rule."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "deleteAsmV01RulesId"
      }
    },
    "/asm/v0.1/rules/reorder": {
      "patch": {
        "description": "Reorders rules",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "source_index",
            "description": "The current index of the rule",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "destination_index",
            "description": "The new index for the rule",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Reorders rules"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "patchAsmV01RulesReorder"
      }
    },
    "/asm/v0.1/rules/reset": {
      "delete": {
        "description": "Reset all rules in an organization.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Reset all rules in an organization."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "deleteAsmV01RulesReset"
      }
    },
    "/asm/v0.1/rules": {
      "post": {
        "description": "Create a rule.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "collection_filter_type",
            "description": "The type of collection filter",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "match_all",
            "description": "Whether all criteria must match",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "enabled",
            "description": "Whether the rule is enabled",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "action_type",
            "description": "The action to take on rule match",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "severity_action_type",
            "description": "The severity action to take on rule match",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "exposure_severity",
            "description": "The severity of the exposure",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "exposure_summary",
            "description": "A summary of the exposure",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "rule_description",
            "description": "A description of the rule",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "collections",
            "description": "The collections to apply the rule to",
            "type": "array",
            "items": {
              "type": "object"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "rule_criteria",
            "description": "The criteria to apply the rule to",
            "type": "array",
            "items": {
              "type": "object"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "asset_filter_type",
            "description": "The type of asset filter",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "asset_criteria",
            "description": "The criteria to apply the rule to",
            "type": "array",
            "items": {
              "type": "object"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "priority",
            "description": "The priority of the rule",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "exit_on_match",
            "description": "Whether rule processing will exit upon match",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "assigned_to_id",
            "description": "The ID of the user the rule is assigned to",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Create a rule."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "postAsmV01Rules"
      },
      "get": {
        "description": "Lists all rules in an organization.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all rules in an organization."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01Rules"
      }
    },
    "/asm/v0.1/comments/{id}": {
      "delete": {
        "description": "Deletes a comment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a comment"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "deleteAsmV01CommentsId"
      },
      "patch": {
        "description": "Updates a comment",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "value",
            "description": "The comment text",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a comment"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "patchAsmV01CommentsId"
      },
      "get": {
        "description": "Gets a comment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a comment"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01CommentsId"
      }
    },
    "/asm/v0.1/comments": {
      "post": {
        "description": "Creates a comment for an exposure.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "exposure_id",
            "description": "The ID of the exposure",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "value",
            "description": "The comment text",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a comment for an exposure."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "postAsmV01Comments"
      },
      "get": {
        "description": "Lists all comments for an exposure.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "exposure_id",
            "description": "The ID of the exposure",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "items",
            "description": "Number of items to return per page. Maximum value: 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all comments for an exposure."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01Comments"
      }
    },
    "/asm/v0.1/dashboard/world-map": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "get WorldMap(s)"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01DashboardWorldMap"
      }
    },
    "/asm/v0.1/dashboard/stats": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "get Stat(s)"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01DashboardStats"
      }
    },
    "/asm/v0.1/technologies/categories": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "get Category(s)"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01TechnologiesCategories"
      }
    },
    "/asm/v0.1/technologies/{id}": {
      "get": {
        "description": "Gets a technology",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a technology"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01TechnologiesId"
      }
    },
    "/asm/v0.1/technologies/filters": {
      "get": {
        "description": "Returns a list of filters that can be used to filter technology versions.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of filters that can be used to filter technology versions."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01TechnologiesFilters"
      }
    },
    "/asm/v0.1/technologies": {
      "get": {
        "description": "Get all matching technologies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "scan_id",
            "description": "If present, only technologies present in this scan will be returned",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "category_id",
            "description": "The category ID(s) to filter by",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort_field",
            "description": "The field to sort by",
            "type": "string",
            "default": "name",
            "enum": [
              "created_at",
              "updated_at",
              "name",
              "last_detected_at",
              "asset_count",
              "cve_counts"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort_direction",
            "description": "The direction to sort by",
            "type": "string",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "collection_id",
            "description": "The collection ID(s) to filter by",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "has_number",
            "description": "Show only technology versions that have a version number",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "cve_severity",
            "description": "Returns only technology versions with at least one CVE of the specified severity",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "The search term",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "items",
            "description": "Number of items to return per page. Maximum value: 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get all matching technologies"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01Technologies"
      }
    },
    "/asm/v0.1/technology-versions/{id}": {
      "delete": {
        "description": "Deletes a technology version",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a technology version"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "deleteAsmV01TechnologyVersionsId"
      },
      "get": {
        "description": "Gets a technology version",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a technology version"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01TechnologyVersionsId"
      }
    },
    "/asm/v0.1/technology-versions/filters": {
      "get": {
        "description": "Returns a list of filters that can be used to filter technology versions.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of filters that can be used to filter technology versions."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01TechnologyVersionsFilters"
      }
    },
    "/asm/v0.1/technology-versions": {
      "get": {
        "description": "Gets all matching technology versions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "scan_id",
            "description": "If present, only technologies present in this scan will be returned",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "category_id",
            "description": "The category ID(s) to filter by",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort_field",
            "description": "The field to sort by",
            "type": "string",
            "default": "name",
            "enum": [
              "created_at",
              "updated_at",
              "last_detected_at",
              "name",
              "asset_count",
              "cve_counts"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort_direction",
            "description": "The direction to sort by",
            "type": "string",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "created_by_scan_id",
            "description": "When present only technology versions created by this scan will be returned",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "found_by_scan_id",
            "description": "When present only technology versions found by this scan will be returned",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "collection_id",
            "description": "The collection ID(s) to filter by",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "has_number",
            "description": "Show only technology versions that have a version number",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "cve_severity",
            "description": "Returns only technology versions with at least one CVE of the specified severity",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "The search term",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "items",
            "description": "Number of items to return per page. Maximum value: 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all matching technology versions"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01TechnologyVersions"
      }
    },
    "/asm/v0.1/exposures/{id}/scan-results": {
      "get": {
        "description": "Returns the scan results for an exposure.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page offset to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "items",
            "description": "Number of items to return per page. Maximum value: 100",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "required": false
          },
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the scan results for an exposure."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01ExposuresIdScanResults"
      }
    },
    "/asm/v0.1/exposures/{id}/watch": {
      "patch": {
        "description": "Watches/unwatches an exposure.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "watch",
            "description": "Set to true to watch the exposure, false to unwatch it",
            "type": "boolean",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Watches/unwatches an exposure."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "patchAsmV01ExposuresIdWatch"
      }
    },
    "/asm/v0.1/exposures/{id}": {
      "patch": {
        "description": "Updates an exposure.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "assigned_to_id",
            "description": "The ID of the user to which to assign the exposure",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "status",
            "description": "The status of the exposure",
            "type": "string",
            "enum": [
              "Open",
              "Acknowledged",
              "Muted",
              "Mitigated",
              "Ignored",
              "Resolved"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "priority",
            "description": "The priority of the exposure",
            "type": "string",
            "enum": [
              "Low",
              "Medium",
              "High",
              "Critical"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "muted_until",
            "description": "The date to which to mute the exposure",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "formData",
            "name": "comment",
            "description": "A comment",
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Updates an exposure."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "patchAsmV01ExposuresId"
      },
      "get": {
        "description": "Gets an exposure.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Gets an exposure."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01ExposuresId"
      }
    },
    "/asm/v0.1/exposures/bulk-edit": {
      "post": {
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "organization_id",
            "description": "The id of the organization that owns the exposures",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "attributes[assigned_to_id]",
            "description": "The ID of the user to which to assign the exposure",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "attributes[status]",
            "description": "The status of the exposure",
            "type": "string",
            "enum": [
              "Open",
              "Acknowledged",
              "Muted",
              "Mitigated",
              "Ignored",
              "Resolved"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "attributes[severity]",
            "description": "The severity of the exposure between 0 and 10",
            "type": "number",
            "format": "float",
            "required": false
          },
          {
            "in": "formData",
            "name": "attributes[priority]",
            "description": "The priority of the exposure",
            "type": "string",
            "enum": [
              "Low",
              "Medium",
              "High",
              "Critical"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "attributes[muted_until]",
            "description": "The date to which to mute the exposure",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "formData",
            "name": "attributes[comment]",
            "description": "A comment",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "exposure_ids",
            "description": "The IDs of the exposures to bulk edit. Either specify filters or exposure_ids.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[parent_id]",
            "description": "The ID of a parent exposure",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[search]",
            "description": "The search term",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[assigned_to]",
            "description": "The ID(s) of the user to which the exposure is assigned",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[status]",
            "description": "The status(es) to filter by",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[collection]",
            "description": "The collection ID(s) to filter by",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[severity]",
            "description": "The severity to filter by",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[priority]",
            "description": "The priority to filter by",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[asset_id]",
            "description": "The ID of an asset",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[technology_version_id]",
            "description": "The ID of a technology version",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[technology_id]",
            "description": "The ID of a technology",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[created_by_scan_id]",
            "description": "The ID of the scan that first detected the exposure",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_filters[found_by_scan_id]",
            "description": "The ID of the scan that found the exposure",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "created BulkEdit"
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "postAsmV01ExposuresBulkEdit"
      }
    },
    "/asm/v0.1/exposures/timeline": {
      "get": {
        "description": "Returns exposure counts for the last 7 days.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "collection_id",
            "description": "The ID of the collection",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns exposure counts for the last 7 days."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01ExposuresTimeline"
      }
    },
    "/asm/v0.1/exposures/count": {
      "get": {
        "description": "Returns a count of exposures by the specified field.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "count_by",
            "description": "When specified, the result set will be a count of exposures by this field",
            "type": "string",
            "enum": [
              "status"
            ],
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a count of exposures by the specified field."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01ExposuresCount"
      }
    },
    "/asm/v0.1/exposures/filters": {
      "get": {
        "description": "Returns a list of filters that can be used to filter assets.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of filters that can be used to filter assets."
          }
        },
        "tags": [
          "asm"
        ],
        "operationId": "getAsmV01ExposuresFilters"
      }
    },
    "/asm/v0.1/exposures": {
      "get": {
        "description": "Lists all exposures matching the specified criteria.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization_id",
            "description": "The ID of the organization",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "sort_field",
            "description": "The field to sort by",
            "type": "string",
            "default": "severity",
            "enum": [
              "user_facing_id",
              "summary",
              "created_at",
              "severity",
              "priority",
              "assigned_to",
              "status",
              "asset",
              "collection",
              "technology_version",
              "exposure_type"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort_direction",
            "description": "The direction to sort by",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "asset_id",
            "description": "The ID of the asset",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "created_by_scan_id",
            "description": "When present only new exposures found by this scan will be returned",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "found_by_scan_id",
            "description": "When present only exposures found by this scan will be returned",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "technology_version_id",
            "description": "The ID of the technology version",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "The search term",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "assigned_to",
            "description": "The ID(s) of the user to which the exposure is assigned",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "status",
[...]
